.navegacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-left: 300px;
}

nav ul li {
    font-size: 1.25rem;
    font-weight: 500;
}

.hero1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.hero1-texto {
    display: flex;
    flex-direction: column;
}

.hero1-texto h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #4A3638;
}

.hero1-texto h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #160B05;
}

.hero1-texto p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.hero1-texto p bold{
    font-size: 1.5rem;
    font-weight: 700;
    color: #424242;
}

.hero1-texto button {
    width: 260px;
    height: 55px;
    background: linear-gradient(90deg, #160B05 0%, #4A3638 100%);
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.hero1-img {
    width: 631px;
    height: 631px;
}

.sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sobre-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #160B05;
}

.sobre p {
    font-size: 1.5rem;
    color: #333333;
}

.sobre p bold{
    font-weight: 700;
    color: #424242;
}

.objetivo {
    height: 830px;
    background-color: #160B05;
}

.objetivo-conteudo > h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 100px;
}

.objetivo p {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.objetivo p bold{
    font-weight: 700;
    color: #FFFFFF;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.card {
    width: 359px;
    height: 302px;
    background-color: #F1F1F1;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.card-conteudo {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    gap: 19px;
}

.card img {
    width: 54px;
    height: 54px;
}

.card h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #160B05;
}

.card p {
    font-size: 1rem;
    color: #424242;
}

.funcionalidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.funcionalidades-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.funcionalidades-texto h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #160B05;
}

.funcionalidades-span{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#span-1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #160B05;
    position: relative;
}

#span-1::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 10px;
    background-color: #160B05;
    top: -8px;
    left: 0;
}

#span-2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #424242;
}

.funcionalidades-texto p {
    text-align: flex-start;
    font-size: 1.5rem;
    font-weight: 500;
    color: #424242;
}

.funcionalidades-texto img {
    width: 558px;
    height: 558px;
}